<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SocialGo - Login</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/login.css">
</head>
<body>
    <div class="container-login">
        <div>
            <form class="socialgo-form" id="login">
                <span> Seja bem vindo ao SocialGo</span>
                <div>
                    <input type="text" name="email" id="email" placeholder="Digite seu email" required="required">
                </div>
                <div>
                    <input type="password" name="password" id="password" placeholder="Digite sua senha" required="required">
                </div>
                <a href="#"> Clique para criar uma conta</a>
                <button type="submit" class="btn-socialgo">Login</button>
            </form>
        </div>
    </div>
    <h2>Tela de Login</h2>
</body>
</html>
